<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!--Account controller-->
    <bean id="crmAccountdao" class="com.krawler.spring.crm.accountModule.crmAccountDAOImpl" parent="baseDAO"/>
    <bean id="crmAccountController" class="com.krawler.spring.crm.accountModule.crmAccountController">
        <property name="crmAccountDAO">
            <ref bean="crmAccountdao"/>
        </property>
        <property name="accountManagementService">
            <ref bean="accountManagementService"/>
        </property>
        <property name="NotificationManagementServiceDAO">
            <ref bean="notifyManagementService"/>
        </property>
        <property name="crmCommonService">
           <ref bean="crmCommonService"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
        <property name="exportDAOImpl">
            <ref bean="exportdao"/>
        </property>
        <property name="sessionHandlerImpl">
            <ref bean="sessionHandlerdao"/>
        </property>
        <property name="crmCommentDAO">
            <ref bean="commentdao"/>
        </property>
        <property name="crmManagerDAO">
            <ref bean="crmManagerdao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
         <property name="fieldDataManager">
            <ref bean="fielddatamanager"/>
        </property>
        <property name="fieldManagerDAO">
            <ref bean="fieldmanagerdao"/>
        </property>
        <property name="cometManagementService">
            <ref bean="cometManagementService"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
        <property name="txnManager">
            <ref bean="txManager"/>
        </property>
    </bean>

    <!--Account Report Controller-->
    <bean id="accountReportdao" class="com.krawler.spring.crm.accountModule.crmAccountReportDAOImpl" parent="baseDAO"/>
    <bean id="accountReportController" class="com.krawler.spring.crm.accountModule.crmAccountReportController">
        <property name="crmAccountReportDAO">
            <ref bean="accountReportdao"/>
        </property>
        <property name="crmUserDAO">
            <ref bean="crmUserdao"/>
        </property>
        <property name="crmAccountDAO">
            <ref bean="crmAccountdao"/>
        </property>
        <property name="sessionHandlerImpl">
            <ref bean="sessionHandlerdao"/>
        </property>
        <property name="exportDAOImpl">
            <ref bean="exportdao"/>
        </property>
        <property name="crmManagerDAO">
            <ref bean="crmManagerdao"/>
        </property>
        <property name="auditTrailDAO">
            <ref bean="auditTraildao"/>
        </property>
        <property name="crmCommonDAO">
            <ref bean="crmCommondao"/>
        </property>
        <property name="kwlCommonTablesDAO">
            <ref bean="kwlCommonTablesdao"/>
        </property>
        <property name="successView">
            <value>jsonView</value>
        </property>
    </bean>

    <bean id="accountManagementService" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.krawler.crm.account.bizservice.AccountManagementServiceImpl">
                <property name="crmAccountDAO">
                    <ref bean="crmAccountdao"/>
                </property>
                <property name="kwlCommonTablesDAO">
                    <ref bean="kwlCommonTablesdao"/>
                </property>
                <property name="crmCommentDAO">
                    <ref bean="commentdao"/>
                </property>
                <property name="crmManagerDAO">
                    <ref bean="crmManagerdao"/>
                </property>
                <property name="fieldDataManager">
                    <ref bean="fielddatamanager"/>
                </property>
                <property name="crmCommonDAO">
                    <ref bean="crmCommondao"/>
                </property>
                <property name="fieldManagerDAO">
                    <ref bean="fieldmanagerdao"/>
                </property>
                <property name="expressionManager">
                    <ref bean="expressionManager"/>
                </property>
            </bean>
        </property>
    </bean>

</beans>
