<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="userDAO" class="com.krawler.crm.users.dao.UserDAOImpl" parent="baseDAO"/>
    
   	<bean id="userService" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.krawler.crm.users.bizservice.UserServiceImpl">
                <property name="userDAO">
    				<ref bean="userDAO"/>
    			</property>
            </bean>
        </property>
    </bean>
    
</beans>