/* 
    Document   : SpreadSheetLook
    Created on : Nov 16, 2009, 10:52:09 AM
    Author     : Shashank Bhosale
    Description:
            new style for SpreadSheetLook
            used for SpreadSheetGrid
*/




/* color div */

.s-color-div{
    cursor:pointer;
    height:12px;
    width:12px;
    margin:2px;
    padding:inherit;
    border:thin solid;
    border-color:#000000;
    background-color:#FFFFFF;
    float:right;
}



.x-sheet-cell-selected{
    border:1px solid #7EADD9 !important;
    background-color:white !important;
	line-height:10px !important;
    color:black !important;
}
.x-sheet-col-ssg {
    border-color:#FFFFFF #FFFFFF #EDEDED #EDEDED;
    border-style:solid;
    border-width:1px;
}
.x-sheet-row-height td{
    line-height:12px;
}
.x-sheet-row td, .x-grid3-summary-row td{
    padding-left:0px ;
    padding-right:0px ;
}
.x-sheet-row  {
	border-width:0px;
}

/*Editor Grid CSS (cls)
*/
.safari-grid-editor .x-form-field{
     height:18px !important;
     padding: 0px 1px 0px 4px !important;
     }
.ie-grid-editor .x-form-field{
    padding:6px 0px 0px 3px !important;
    margin:0px -5px 0px 0px!important;
    height:15px !important;
    }

.ie-grid-editor .x-form-field{
    margin-right:0px !important;
}
.spreadSheet-editor .x-form-field {
    background:#FFFFFF none repeat scroll 0 0;
    border:1px solid #B5B8C8;
    padding: 2px 1px 0px 4px !important;
    font:normal 11px arial,tahoma,helvetica,sans-serif !important;
    vertical-align:middle !important;
    line-height:12px !important;
}

.spreadSheet-editor {
    overflow:hidden !important;
}
.spreadSheet-editor .x-form-text{
        height:16px!important;
    }
.spreadSheet-editor .x-form-num-field{
        text-align:right;
    }

/*=============================================================================*/

.x-sheet-col-cells-selected{
    border-color:#FFFFFF #EDEDED #FFFFFF #EDEDED;
    border-style:solid;
    border-width:1px;
    background-color:#DFE8F6!important;
    color:black !important;
}






.s-text-align-right{
    text-align:right !important;
}
.s-text-align-left {
    text-align:left !important;
}
.s-text-align-center {
    text-align:center !important;
}
.s-text-align-justify {
    text-align:justify !important;
}


.s-vertical-align-top{
    vertical-align:text-top !important;
}
.s-vertical-align-mid{
    vertical-align:middle !important;
}
.s-vertical-align-bottom{
    vertical-align:text-bottom !important;
}





/*
Wtf.AlignPalette
*/
.x-align-palette{width:73px;height:auto;cursor:pointer;}
.x-align-palette a{border:1px solid #fff;float:left;padding:2px;text-decoration:none;-moz-outline:0 none;outline:0 none;cursor:pointer;}
.x-align-palette a:hover,.x-align-palette a.x-align-palette-sel{border:1px solid #8BB8F3;background:#deecfd;}
.x-align-palette em{display:block;border:1px solid #ACA899;}
.x-align-palette em span{cursor:pointer;display:block;height:16px;line-height:16px;width:16px;}
.x-menu .x-align-palette{margin-left:26px;margin-right:4px;}
.x-menu-plain .x-align-palette{margin:0;border:0 none;}





/*
sheet-tbar.gif
*/

.sheetBar {
    background: url(../images/sheet/sheet-tbar.gif) no-repeat !important;
}
.bold-img{
    background-position: -48px 0 !important;
}
.undo-img{
    background-position: -16px 0 !important;
}
.redo-img{
    background-position: -32px 0 !important;
}
.strike-img{
    background-position: -64px 0 !important;
}
.text-color-but-img{
    background-position: -82px 0 !important;
}
.bg-color-but-img{
    background-position: -98px 0 !important;
}
.align-palette-left-img{
    background-position: -128px 0 !important;
}
.align-palette-center-img{
    background-position: -144px 0 !important;
}
.align-palette-right-img{
    background-position: -160px 0 !important;
}
.align-palette-top-img{
    background-position: -176px 0 !important;
}
.align-palette-mid-img{
    background-position: -192px 0 !important;
}
.align-palette-bottom-img{
    background-position: -208px 0 !important;
}
.clear-format-img{
    background-position: -224px 0 !important;
}
.cross1-img{
    background-position: -672px 0 !important;
}



  